<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addForm">Add car</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary ms-4" (click)="increaseDonation()">
            Donate 10 €
          </button>
        </li>
        <li class="nav-item">
          <p class="mt-2 ms-3">
            Donated sum:
            <span class="donated-sum fw-bold ms-4">{{ donatedSum }} Euros</span>
          </p>
        </li>
        @if(donatedSum > 200) {
        <li class="nav-item">
          <span class="vip ms-4 d-inline-block fs-4 text-success">{{
            message
          }}</span>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
