<div class="w-50 mx-auto mt-5">
  <form [formGroup]="addCar" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="feedback" class="form-label">Write your message</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="feedback"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
