<h2>Cars for rent:</h2>
<div class="cars-container container row row-cols-3">
  @for(car of cars; track car) {
  <div>
    <div class="card mb-3" style="width: 25rem">
      <img src="./images/auto-431122_640.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
        <p class="card-text">
          You can rent this car with {{ car.seats }} seats for
          {{ car.pricePerDay }} Euros per day.
        </p>
        <a href="#" class="btn btn-primary">Get your offer!</a>
      </div>
    </div>
  </div>
  }
</div>

<!--add form to add new cars-->
<!-- <app-add-car-form></app-add-car-form> -->
<div class="w-50 mx-auto">
  <p>Add new rental cars with this form. Enter the required informations:</p>

  <form [formGroup]="addCar" (ngSubmit)="onSubmit()">
    <label for="brand">Brand: </label>
    <input id="brand" type="text" formControlName="brand" /><br />

    <label for="model">Model: </label>
    <input id="model" type="text" formControlName="model" /><br />

    <label for="seats">Seats: </label>
    <input id="seats" type="text" formControlName="seats" /><br />

    <label for="pricePerDay">Price per Day: </label>
    <input id="pricePerDay" type="text" formControlName="pricePerDay" />

    <button class="btn btn-success d-block" type="submit" value="addCar">
      Add the car
    </button>
  </form>
</div>
